body {
    font-size: 12px;
}

#contentsPane {
    width: 70%;
    margin: 0 auto;
}

#contentsPane h4 {
    font-size: 14px;
}

.alert {
    padding: 8px 4px;
    border: solid 1px #000;
    background-color: #fff;
    border-radius: 3px;
    margin: 12px 0;
}

.info {
    border-color: #76D5ED !important;
    background: #bde5f8;
    background: -moz-linear-gradient(top, #bde5f8 0%, #a3dcf7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bde5f8), color-stop(100%,#a3dcf7));
    background: -webkit-linear-gradient(top, #bde5f8 0%,#a3dcf7 100%);
    background: -o-linear-gradient(top, #bde5f8 0%,#a3dcf7 100%);
    background: -ms-linear-gradient(top, #bde5f8 0%,#a3dcf7 100%);
    background: linear-gradient(to bottom, #bde5f8 0%,#a3dcf7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bde5f8', endColorstr='#a3dcf7',GradientType=0 );
    color: #00529B !important;
}

.error {
    border-color: #E58685 !important;
    background: #ffbaba;
    background: -moz-linear-gradient(top, #ffbaba 0%, #ffaaaa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbaba), color-stop(100%,#ffaaaa));
    background: -webkit-linear-gradient(top, #ffbaba 0%,#ffaaaa 100%);
    background: -o-linear-gradient(top, #ffbaba 0%,#ffaaaa 100%);
    background: -ms-linear-gradient(top, #ffbaba 0%,#ffaaaa 100%);
    background: linear-gradient(to bottom, #ffbaba 0%,#ffaaaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbaba', endColorstr='#ffaaaa',GradientType=0 );
    color: #7F2121 !important;
}

.warning {
    border-color: #E8D474 !important;
    background: #feefb3;
    background: -moz-linear-gradient(top, #feefb3 0%, #fceaa1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feefb3), color-stop(100%,#fceaa1));
    background: -webkit-linear-gradient(top, #feefb3 0%,#fceaa1 100%);
    background: -o-linear-gradient(top, #feefb3 0%,#fceaa1 100%);
    background: -ms-linear-gradient(top, #feefb3 0%,#fceaa1 100%);
    background: linear-gradient(to bottom, #feefb3 0%,#fceaa1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feefb3', endColorstr='#fceaa1',GradientType=0 );
    color: #9F6000 !important;
}

.success {
    border-color: #C0E589 !important;
    background: #dff2bf;
    background: -moz-linear-gradient(top, #dff2bf 0%, #d7efae 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dff2bf), color-stop(100%,#d7efae));
    background: -webkit-linear-gradient(top, #dff2bf 0%,#d7efae 100%);
    background: -o-linear-gradient(top, #dff2bf 0%,#d7efae 100%);
    background: -ms-linear-gradient(top, #dff2bf 0%,#d7efae 100%);
    background: linear-gradient(to bottom, #dff2bf 0%,#d7efae 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff2bf', endColorstr='#d7efae',GradientType=0 );
    color: #4F8A10 !important;
}

#contentsPane hr {
    border: none;
    background-color: #dcdcdc;
    height: 1px;
}

#contentsPane table {
    width: 100%;
}

#contentsPane table td {
    text-align: left;    
}

#contentsPane table td:first-child {
    width: 40%;
} 

#contentsPane table td:nth-child(2) {
    width: 50%;
} 

#contentsPane table td:last-child {
    width: 5%;
    text-align: right;
    cursor: pointer;
    line-height: 12px;
} 

#contentsPane table td input {
    width: 100%;
}

#contentsPane table td.strength-indicator {
    text-align: left;
    padding: 0;
    height: 28px;
    background-color: #eee;
    border-radius: 3px;
    border: solid 1px #ddd;
}

#contentsPane table td.strength-indicator > div {
    height: 28px;
    color: #000;
    text-shadow: 1px 1px #fff;
    width: 21%;
    text-align: center;
    line-height: 28px;
    font-weight: 700;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 3px;
}

#contentsPane table td.submit-button {
    text-align: center;
}

i.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon-lock {
    background-image: url('/img/icons/lock32.png');
    background-size: contain;
}